<%- include('includes/head'); %>
  <%- include('includes/nav'); %>
  <div class="container-fluid text-center py-3">
    <h1>Agenda de Contatos</h1>
    <p class="lead">Crie sua lista de contatos.</p>
  </div>
<%- include('includes/footer'); %>