<%- include('includes/head'); %>
  <%- include('includes/nav'); %>
  <form class="container my-5">
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Digite seu email">
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Senha</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Digite sua senha">
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
<%- include('includes/footer'); %>